.footer{
  position: absolute;
  bottom: 0;
  background-color: $color-dark;
  padding: 60px 0;
  left: 50%;
  transform: translateX(-50%);
  
  h1{
    color: $color-light;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
  }
}