body {
  margin: 0;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-dark;
  height: 2200px;
  background-color: $color-dark;
  position: relative;
}
